<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fiuba.hora">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:parentActivityName=".SplashActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SplashActivity" />
        </activity>
        <activity
            android:name=".SeccionesActivity"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".SeccionesPracticarActivity"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".IntroHoraActivity"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".IntroMediasHoras1Activity"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".IntroCuartosHora1Activity"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".IntroMinutosActivity"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".IntroHoraMinutosActivity"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".IntroMomentosDia1Activity"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".VideoAprenderActivity"
            android:parentActivityName=".MenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".VideoHoraActivity"
            android:parentActivityName=".IntroHoraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroHoraActivity" />
        </activity>
        <activity
            android:name=".VideoMinutosActivity"
            android:parentActivityName=".IntroMinutosActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroMinutosActivity" />
        </activity>
        <activity
            android:name=".VideoHoraMinutosActivity"
            android:parentActivityName=".IntroHoraMinutosActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroHoraMinutosActivity" />
        </activity>
        <activity
            android:name=".IdentifHoraActivity"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".IdentifMediasHorasActivity"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".IdentifCuartosHoraActivity"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".IdentifMinutosActivity"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".IdentifHoraMinutosActivity"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <provider
            android:name=".VideoProvider"
            android:authorities="fiuba.hora"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>
</manifest>