<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fiuba.hora">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:noHistory="false"
            android:theme="@style/SplashTheme"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:parentActivityName=".SplashActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SplashActivity" />
        </activity>
        <activity
            android:name=".SeccionesActivity"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".SeccionesPracticarActivity"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".IntroHoraActivity"
            android:parentActivityName=".SeccionesActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SeccionesActivity" />
        </activity>
        <activity
            android:name=".IntroHora2Activity"
            android:parentActivityName=".IntroHoraActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroHoraActivity" />
        </activity>
        <activity
            android:name=".IntroHora3Activity"
            android:parentActivityName=".IntroHora2Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroHora2Activity" />
        </activity>
        <activity
            android:name=".IntroHora4Activity"
            android:parentActivityName=".IntroHora3Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroHora3Activity" />
        </activity>
        <activity
            android:name=".IntroHora5Activity"
            android:parentActivityName=".IntroHora4Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroHora4Activity" />
        </activity>
        <activity
            android:name=".IntroHora6Activity"
            android:parentActivityName=".IntroHora5Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroHora5Activity" />
        </activity>
        <activity
            android:name=".IntroMediasHoras1Activity"
            android:parentActivityName=".SeccionesActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SeccionesActivity" />
        </activity>
        <activity
            android:name=".IntroMediasHoras2Activity"
            android:parentActivityName=".IntroMediasHoras1Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroMediasHoras1Activity" />
        </activity>
        <activity
            android:name=".IntroMediasHoras3Activity"
            android:parentActivityName=".IntroMediasHoras2Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroMediasHoras2Activity" />
        </activity>
        <activity
            android:name=".IntroMediasHoras4Activity"
            android:parentActivityName=".IntroMediasHoras3Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroMediasHoras3Activity" />
        </activity>
        <activity
            android:name=".IntroCuartosHora1Activity"
            android:parentActivityName=".SeccionesActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SeccionesActivity" />
        </activity>
        <activity
            android:name=".IntroCuartosHora2Activity"
            android:parentActivityName=".IntroCuartosHora1Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroCuartosHora1Activity" />
        </activity>
        <activity
            android:name=".IntroCuartosHora3Activity"
            android:parentActivityName=".IntroCuartosHora2Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroCuartosHora2Activity" />
        </activity>
        <activity
            android:name=".IntroMinutosActivity"
            android:parentActivityName=".SeccionesActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SeccionesActivity" />
        </activity>
        <activity
            android:name=".IntroMinutos2Activity"
            android:parentActivityName=".IntroMinutosActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroMinutosActivity" />
        </activity>
        <activity
            android:name=".IntroMinutos3Activity"
            android:parentActivityName=".IntroMinutos2Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroMinutos2Activity" />
        </activity>
        <activity
            android:name=".IntroMinutos4Activity"
            android:parentActivityName=".IntroMinutos3Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroMinutos3Activity" />
        </activity>
        <activity
            android:name=".IntroMinutos5Activity"
            android:parentActivityName=".IntroMinutos4Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroMinutos4Activity" />
        </activity>
        <activity
            android:name=".IntroMinutos6Activity"
            android:parentActivityName=".IntroMinutos5Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroMinutos5Activity" />
        </activity>
        <activity
            android:name=".IntroMinutos7Activity"
            android:parentActivityName=".IntroMinutos6Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroMinutos6Activity" />
        </activity>
        <activity
            android:name=".IntroMinutos8Activity"
            android:parentActivityName=".IntroMinutos7Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroMinutos7Activity" />
        </activity>
        <activity
            android:name=".IntroMinutos9Activity"
            android:parentActivityName=".IntroMinutos8Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroMinutos8Activity" />
        </activity>
        <activity
            android:name=".IntroMinutos10Activity"
            android:parentActivityName=".IntroMinutos9Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroMinutos9Activity" />
        </activity>
        <activity
            android:name=".IntroMinutos11Activity"
            android:parentActivityName=".IntroMinutos10Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroMinutos10Activity" />
        </activity>
        <activity
            android:name=".IntroHoraMinutosActivity"
            android:parentActivityName=".SeccionesActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SeccionesActivity" />
        </activity>
        <activity
            android:name=".VideoAprenderActivity"
            android:parentActivityName=".MenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".VideoHoraActivity"
            android:parentActivityName=".IntroHora6Activity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroHora6Activity" />
        </activity>
        <activity
            android:name=".VideoMinutosActivity"
            android:parentActivityName=".IntroMinutos10Activity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroMinutos10Activity" />
        </activity>
        <activity
            android:name=".VideoHoraMinutosActivity"
            android:parentActivityName=".IntroHoraMinutosActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroHoraMinutosActivity" />
        </activity>
        <activity
            android:name=".IdentifHoraActivity"
            android:parentActivityName=".IntroHora6Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroHora6Activity" />
        </activity>
        <activity
            android:name=".IdentifMediasHorasActivity"
            android:parentActivityName=".IntroMediasHoras4Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroMediasHoras4Activity" />
        </activity>
        <activity
            android:name=".IdentifCuartosHoraActivity"
            android:parentActivityName=".IntroCuartosHora3Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroCuartosHora3Activity" />
        </activity>
        <activity
            android:name=".IdentifMinutosActivity"
            android:parentActivityName=".IntroMinutos11Activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroMinutos11Activity" />
        </activity>
        <activity
            android:name=".IdentifHoraMinutosActivity"
            android:parentActivityName=".IntroHoraMinutosActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroHoraMinutosActivity" />
        </activity>
        <provider
            android:name=".VideoProvider"
            android:authorities="fiuba.hora"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>
</manifest>